/* ホーム画面 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/images/太陽と空2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainTitle {
  font-size: 50px;
  text-align: center;
  text-shadow: 6px 3px #f8dcab;
  margin-top: 150px;
  margin-bottom: 80px;
}

/* 新規登録画面 */

.titleform {
  background-color: rgba(249, 249, 249, 0.9);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/images/海.png");
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  height: 90vh;
  margin: auto;
  text-align: center;
}

.maintext {
  color: #fa5c4e;
  margin: 50px 0 70px;
}

.titletext {
  text-align: left;
  padding: 0 0 0 50px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.inputcenter {
  display: block;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonText {
  background-color: #eb6100;
  border: none;
  font-size: 30px;
  color: white;
  width: 100px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.buttonText:hover {
  transform: scale(90%);
  background-color: #f7a062;
  cursor: pointer;
}

.inputBox {
  border: 2px solid #617bff;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  height: 30px;
  width: 80%;
  transition: border-color 0.3s;
  transform: translateY(-20px);
}

.passTitle {
  display: flex;
  text-align: left;
  padding: 0 0 0 50px;
}

.passWordtitle {
  font-size: 25px;
}

.text {
  font-size: 18px;
  color: red;
  margin: 30px 5px 0;
}

.backButton {
  width: 100px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  background-color: #eb6100;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border: none;
}

.backButton:hover {
  transform: scale(90%);
  background-color: #f7a062;
  cursor: pointer;
}

.errorText {
  color: red;
  font-size: 15px;
  margin-top: 0;
}

/* 一覧画面 */

.reservationImg {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("/images/音符.png");
  background-position: center -110px;
  background-size: 60%;
}

.topPageButton {
  font-size: 19px;
  font-weight: bold;
  display: flex;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #e4f5fb;
  background-size: 10px 10px;
  background-image: radial-gradient(#a6ebf7 15%, transparent 20%),
    radial-gradient(#85ddfa 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  margin: 5px auto 30px;
  justify-content: center;
  align-items: center;
}

.topPageButton:hover {
  transform: scale(85%);
  opacity: 0.7;
  cursor: pointer;
}

.topPageLink {
  text-decoration: none;
  /* color: black; */
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.listTitle {
  margin: auto;
  background-color: white;
}

/* 園児別一覧 */

.childImg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../../public/images/蜂.png);
  background-size: 150px;
  background-position: left 25px;
  height: 170px;
  width: 98vw;
}

.childButton {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #e4f5fb;
  background-size: 10px 10px;
  background-image: radial-gradient(#a6ebf7 15%, transparent 20%),
    radial-gradient(#85ddfa 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  margin: 5px auto 30px;
  justify-content: center;
  align-items: center;
}

.childButton:hover {
  transform: scale(85%);
  opacity: 0.7;
  cursor: pointer;
}

.childLink {
  text-decoration: none;
  color: black;
}

.childCenter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.childListTitle {
  margin: auto;
}

/* LINEログイン画面 */

.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.lineLoginBox {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.lineButton {
  font-size: 25px;
  height: 50px;
  width: 200px;
  background-color: #0fea3a;
  color: white;
  border-radius: 10px;
  border: none;
}

.lineButton:hover {
  transform: scale(85%);
  opacity: 0.5;
}

.lineLogin {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.lineLink {
  text-decoration: none;
}

/* 申込画面 */

.createCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(../../../public/images/星.png);
  background-size: contain;
  background-color: rgb(224, 217, 237);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}

.createTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 50px;
}

.createChildName {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #555;
}

.createChildInput {
  font-size: 20px;
  width: 103.5%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s;
}

/* .createInput {
  font-size: 20px;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s;
}

.createInput:focus {
  border: 1px solid #007bff;
  outline: none;
} */

/* .createStrong {
  display: block;
  margin-bottom: 5px;
  color: #333;
} */

.classTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.classInput {
  font-size: 20px;
  height: 30px;
  width: 90%;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
}

.submitButton {
  width: 100%;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
  transform: scale(85%);
}

.createText {
  margin: 10px 0;
}

/* .applicationSection {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 8px 8px 0;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
} */

/* .applicationNumberContainer {
  writing-mode: vertical-rl;
  position: absolute;
  left: -47px;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
} */

/* .applicationNumber {
  font-weight: bold;
  background-color: #85ddfa;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  height: 330.5px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
} */

/* .applicationIndex {
  font-weight: bold;
  background-color: #85ddfa;
  font-size: 18px;
  color: #333;
  transform: rotate(270deg);
  margin-top: -140px;
  margin-right: 4px;
} */

/* .applicationContent {
  flex-grow: 1;
  height: 320px;
} */

/* スマホサイズ向けのスタイル */
@media screen and (max-width: 600px) {
  .createCenter {
    max-width: 100%;
    padding: 10px;
    box-shadow: none;
  }

  .createTitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .createChildInput {
    width: 102%;
    padding: 8px;
  }

  /* .createInput {
    width: 90%;
    padding: 8px;
  } */

  /* .applicationSection {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    margin-bottom: 40px;
  }

  .applicationNumberContainer {
    left: -44px;
    top: -0.5px;
  }

  .applicationNumber {
    height: 321px;
    font-size: 16px;
  } */

  .submitButton {
    width: 110%;
    padding: 12px;
  }

  .createText {
    margin: 5px 0;
  }

  /* .applicationIndex {
    font-size: 16px;
    margin-top: -130px;
    margin-left: 5px;
  }

  .applicationContent {
    flex-grow: 1;
  } */
}

/* 管理画面 */
.managerImg {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/images/星.png");
  background-position: center;
  background-size: 60%;
  height: 100vh;
}

.userList {
  background-color: white;
  width: 550px;
  margin: 0 auto;
}

.managerPage {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #c6eaf7;
  background-size: 10px 10px;
  background-image: radial-gradient(#7ee7fa 15%, transparent 20%),
    radial-gradient(#5cd3fa 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  margin: 5px auto 30px;
  justify-content: center;
  align-items: center;
}

.managerPage:hover {
  transform: scale(85%);
  opacity: 0.7;
  cursor: pointer;
}

.managerLink {
  text-decoration: none;
}

.managerError {
  color: red;
  text-align: center;
}

/* thanksページ */
.thanks {
  text-align: center;
  margin-top: 100px;
}

/* userページ */
.usersCancel {
  background-color: rgb(247, 247, 122);
}

.usersSave {
  background-color: #85ddfa;
}

.usersDelete {
  background-color: #f7a062;
}

.usersEdit {
  background-color: #91f9a6;
}
