/* .listTitle {
  margin: auto;
  background-color: white;
} */

.subTitle {
  background-color: rgb(247, 247, 178);
}

.childName {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.childName:hover {
  color: rgb(159, 4, 202);
}

.saveButton {
  background-color: rgb(155, 217, 250);
  border-radius: 5px;
}

.saveButton:hover {
  background-color: rgb(181, 240, 252);
  cursor: pointer;
  transform: scale(90%);
}

.deleteButton {
  background-color: rgb(250, 142, 142);
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: rgb(250, 213, 213);
  cursor: pointer;
  transform: scale(90%);
}

.cancelButton {
  background-color: yellow;
  border-radius: 5px;
}

.cancelButton:hover {
  background-color: rgb(251, 251, 186);
  transform: scale(90%);
}

.editButton {
  background-color: #83f88b;
  border-radius: 5px;
}

.editButton:hover {
  background-color: #ccf7c2;
  cursor: pointer;
  transform: scale(90%);
}
