.childImg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../../../public/images/蜂.png);
  background-size: 150px;
  background-position: left 25px;
  height: 170px;
  width: 98vw;
}

.childButton {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #e4f5fb;
  background-size: 10px 10px;
  background-image: radial-gradient(#a6ebf7 15%, transparent 20%),
    radial-gradient(#85ddfa 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  margin: 5px auto 30px;
  justify-content: center;
  align-items: center;
}

.childButton:hover {
  transform: scale(85%);
  opacity: 0.7;
  cursor: pointer;
}

.childLink {
  text-decoration: none;
  color: black;
}

.childCenter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.childListTitle {
  margin: auto;
}

.childNameText {
  font-size: 20px;
}

.childCancelButton {
  font-size: 20px;
  width: 120px;
  height: 40px;
  background-color: yellow;
  border-radius: 5px;
}

.childCancelButton:hover {
  background-color: rgb(251, 251, 186);
  transform: scale(90%);
}

.childDeleteButton {
  font-size: 20px;
  width: 60px;
  height: 40px;
  background-color: rgb(250, 142, 142);
  border-radius: 5px;
}

.childDeleteButton:hover {
  background-color: rgb(250, 213, 213);
  cursor: pointer;
  transform: scale(90%);
}

.childSaveButton {
  font-size: 20px;
  width: 60px;
  height: 40px;
  background-color: rgb(155, 217, 250);
  border-radius: 5px;
}

.childSaveButton:hover {
  background-color: rgb(181, 240, 252);
  cursor: pointer;
  transform: scale(90%);
}

.childEditButton {
  font-size: 20px;
  width: 60px;
  height: 40px;
  background-color: #83f88b;
  border-radius: 5px;
}

.childEditButton:hover {
  background-color: #ccf7c2;
  cursor: pointer;
  transform: scale(90%);
}

.childInput {
  width: 90px;
  height: 30px;
  font-size: 20px;
}
