.applicationSection {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 8px 8px 0;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.applicationNumberContainer {
  writing-mode: vertical-rl;
  position: absolute;
  left: -47px;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.applicationNumber {
  font-weight: bold;
  background-color: #85ddfa;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  height: 330.5px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
}

.applicationIndex {
  font-weight: bold;
  background-color: #85ddfa;
  font-size: 18px;
  color: #333;
  transform: rotate(270deg);
  margin-top: -140px;
  margin-right: 4px;
}

.applicationContent {
  flex-grow: 1;
  height: 320px;
}

.createStrong {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.createInput {
  font-size: 20px;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s;
}

.createInput:focus {
  border: 1px solid #007bff;
  outline: none;
}

/* スマホサイズ向けのスタイル */
@media screen and (max-width: 600px) {
  .createInput {
    width: 90%;
    padding: 8px;
  }

  .applicationSection {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    margin-bottom: 40px;
  }

  .applicationNumberContainer {
    left: -44px;
    top: -0.5px;
  }

  .applicationNumber {
    height: 321px;
    font-size: 16px;
  }

  .applicationIndex {
    font-size: 16px;
    margin-top: -130px;
    margin-left: 5px;
  }

  .applicationContent {
    flex-grow: 1;
  }
}
