

.main{
  max-width: 100%;
}

.mainTitle{
  font-size: 50px;
  text-align: center;
  text-shadow: 6px 3px #f8dcab;
  margin-top: 180px;
  margin-bottom: 100px;
};

.row-button{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.L-button{
  background-color: rgb(33, 113, 252);
  font-size: 30px;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
 }

 .L-button:hover{
  transform: scale(90%);
  cursor: pointer;
  background-color: #7191f9;
 }

 .R-button{
  background-color: #06fc16;
  font-size: 30px;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin-left: 50px;
 }

 .R-button:hover{
  transform: scale(90%);
  cursor: pointer;
  background-color:  rgb(159, 248, 158);
 }

 .link {
  color:black;
  text-decoration: none;
 }


 .subTitle{
  background-color: rgb(247, 247, 178);
 }

 .listTitle{
  margin: auto;
 }

 .editButton{
  background-color: #83f88b;
  border-radius: 5px;
 }


 .editButton:hover{
  background-color: #ccf7c2;
  cursor: pointer;
  transform: scale(90%);
 }

 .saveButton{
  background-color: rgb(155, 217, 250);
  border-radius: 5px;
 }

 .saveButton:hover{
  background-color: rgb(181, 240, 252);
  cursor: pointer;
  transform: scale(90%);
 }

 .deleteButton{
  background-color: rgb(249, 210, 138);
  border-radius: 5px;
 }

 .deleteButton:hover{
  background-color: rgb(250, 237, 213);
  cursor: pointer;
  transform: scale(90%);
 }


 .reservationButton{
  display: block;
  text-align: center;
 }

 .rogButton {
  text-align: center;
  margin-top: 10px;
 }

 .backButton {
  display: block;
  text-align: center;
 }

 .inputBox {
  margin-bottom: 10px;
  width: 200px;
  height: 20px;
 }

 .search{
  display: grid;
  place-content: center;
 }

 .passTitle{
  display: flex;
  place-content: center;
  align-items: center;
 }

 .center{
  text-align: center;
 }



 


 
