.managerMenu {
  display: flex;
  flex-direction: column;
}

.link {
  color: black;
  text-decoration: none;
}

.newRegistration {
  font-size: 38px;
  display: inline-block;
  border: none;
  width: 180px;
  height: 70px;
  border-radius: 5px;
  background-color: #bbcbfa;
  background-size: 10px 10px;
  background-image: radial-gradient(#85a3fa 15%, transparent 20%),
    radial-gradient(#85a3fa 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  margin-bottom: 20px;
}

.newRegistration:hover {
  transform: scale(90%);
  cursor: pointer;
}
